#cnt  img{
	opacity:0.65;
	-moz-opacity:0.65;
	filter: alpha(opacity=65) black;
	-khtml-opacity: 0.65;
}

#cnt  img:hover{
	opacity:0.8;
	-moz-opacity:0.8;
	filter: alpha(opacity=80) black;
	-khtml-opacity: 0.8;
}

.cname {
	font-family: Impact, fantasy;
	font-style: normal;
	font-size: 250%;
	color: white;
	opacity: 1;
}

.ahref {
	font-family: Impact, fantasy;
	font-style: normal;
	font-size: 150%;
	color: white;
	opacity: 0.7;
}

.textl {
	font-family: Arial Black, fantasy;
	font-style: normal;
	font-size: 100%;
	color: white;
	opacity: 1;
}

.frame {
    border: 3px solid #000;
}

a {
    text-decoration: none;
}

body {
    background-attachment: fixed;
}
